

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>



<!--         Header Fragment          -->

<div id="header" th:fragment="header">
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <div id="logo" class="headContent"><a th:href="@{/home/main}">Perfumance</a></div>
    <div id="market" class="headContent headRight"><a th:href="@{/board/market}">Market</a></div>
    <div id="board" class="headContent headRight"><a th:href="@{/board/result}">Board</a></div>
    <div id="login" class="headContent headRight"><a th:href="@{/access/login}">Login</a></div>
</div>





<!--         Footer Fragment          -->

<div id="footer" th:fragment="footer">
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <p>Perfumance<br>
        Copyrightⓒ2021 by Kams</p>
</div>


</body>
</html>

