<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Kams.Perfumance.mapper.BoardMapper">


    <select id="selectPerfumeList" parameterType="Kams.Perfumance.vo.Criteria" resultType="Kams.Perfumance.vo.PerfumeVO">
        SELECT
        *
        FROM
        perfume
        LIMIT
        #{pageStart}, #{perPageNum}
    </select>

<!--    <select id="selectBoardTotalCount" parameterType="Kams.Perfumance.vo.Criteria" resultType="int">-->
    <select id="selectPerfumeTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            perfume
    </select>


    <select id="perfumeInfo" resultType="Kams.Perfumance.vo.PerfumeVO">
        select
            *
        from
            perfume
        where
            name=#{perfumeName}
    </select>


    <select id="selectPerfumeBySearch" parameterType="HashMap" resultType="Kams.Perfumance.vo.PerfumeVO">
        SELECT * FROM perfume WHERE NAME LIKE CONCAT('%',#{perfumeName},'%') LIMIT #{pageStart}, #{perPageNum}
    </select>

    <select id="countResult" resultType="int">
        SELECT COUNT(*) FROM perfume WHERE NAME LIKE CONCAT('%',#{perfumeName},'%')
    </select>






</mapper>