<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Kams.Perfumance.mapper.MarketMapper">

    <insert id="postRegister" useGeneratedKeys="true" keyProperty="gno">
        INSERT INTO goods(id, goodsName, manufacturer, expiryDt, price, contact, address, usableCapacity, explanation, status, writeDt, modifyDt, picture)
        VALUE (#{id}, #{goodsName}, #{manufacturer}, #{expiryDt}, #{price}, #{contact}, #{address}, #{usableCapacity}, #{explanation}, #{status}, #{writeDt}, #{modifyDt}, #{picture})
    </insert>

</mapper>

