<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Kams.Perfumance.mapper.MemberMapper">

    <select id="getList" resultType="Kams.Perfumance.vo.MemberVo">
        SELECT * FROM user_info
    </select>

    <insert id="InsertUser" useGeneratedKeys="true" keyProperty="uno">
        INSERT INTO user_info(enabled, id, pwd, nick, email, img, regDt, delDt, dealNum, tryCount)
        VALUE (#{enabled},#{id},#{pwd},#{nick},#{email},#{img},#{regDt},#{delDt},#{dealNum},#{tryCount})
    </insert>

    <select id="findByUserId" resultType="Kams.Perfumance.vo.MemberVo">
        SELECT * FROM user_info WHERE id=#{id}
    </select>

    <select id="findUserNo" resultType="Integer">
        SELECT uno FROM user_info WHERE id=#{id}
    </select>

    <select id="updateEnabled" resultType="String">
        UPDATE user_info SET enabled="false" where id=#{id}
    </select>

    <insert id="userRoleSave" parameterType="map">
        INSERT INTO user_role
        (uno,rno)
        VALUE
        (#{uno},#{rno})
    </insert>

    <select id="findRoleNo" resultType="int">
        SELECT
            rno
        FROM user_role
        WHERE role = #{role}
    </select>

    <update id="addTryCount">
        UPDATE user_info SET tryCount=tryCount+1 WHERE id=#{id}
    </update>

    <update id="resetTryCount">
        UPDATE user_info SET tryCount=0 WHERE id=#{id}
    </update>


</mapper>