<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Kams.Perfumance.mapper.UserMapper">
    <select id="findList" resultType="User_Info">
        SELECT
          *
        FROM User_Info
    </select>
</mapper>