<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!--    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form method="post">
    <label>이름을 입력하세요</label>
    <input type="text" id="id" class="user" placeholder="id">  <br>
    <input type="text" id="pwd" class="user" placeholder="pwd"> <br>
    <input type="text" id="nick" class="user" placeholder="nick"> <br>
    <input type="text" id="email" class="user" placeholder="email"> <br>
    <button type="button" onclick="dataSend()">입력</button>
</form>



</body>

<script>

    function dataSend() {
        var memberVo=
            {
                id : $("#id").val(),
                pwd : $("#pwd").val(),
                nick : $("#nick").val(),
                email : $("#email").val()
            }

                $.ajax({
                    url: "/signuptest",
                    dataType: JSON,
                    data: memberVo,
                    type:"POST",
                    success : alert(memberVo.id),
                    error: alert("error")
                });
    }




</script>



</html>