<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/market.css}" rel="stylesheet" />
</head>
<body>
    <header th:insert="common/fragment.html :: header"> </header>

        <div id="goodsDetailBox">
        <div id="goodsDetailPic">1</div>
        <div id="goodsDetail"></div>
        </div>

        <div id="mainBox">
                <div id="goodsLine1">
                    <div class="goods">
                        <div class="goodsPicture">Hi</div>
                        <div class="goodsContents">
                            <p>제품명</p>
                            <p>판매가</p>
                            <p>유통기한</p>
                            <p>향</p>
                        </div>
                    </div>
                </div>
                <div id="goodsLine2">

                </div>
                <div id="goodsLine3">

                </div>
        </div>

    <footer th:insert="common/fragment.html :: footer"> </footer>
</body>
</html>