<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<!--<header include-html="/static/common/header.html"></header>-->


<div id="mainBox">
    <div id="registBox">
        <div id="registHead">로그인</div>
        <input id="id" class="input" placeholder="ID"><br>
        <input id="password" class="input" placeholder="Password"><br>
        <button type="button" id="button">Submit</button>
    </div>
</div>

<!--자바 버전 수정해서 groovy error는 고쳤지만 여전히 css파일 적용은 안되는중. -->
<!--<footer include-html="/static/common/footer.html"></footer>-->
</body>
</html>

