<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>

    <header th:insert="common/fragment.html :: header"> </header>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login-process}" method="post">
        <div id="mainBox">
            <div id="registBox">
                <div id="registHead">로그인</div>
                <input id="id" class="input" name="username" placeholder="ID"><br>
                <input id="password" class="input" name="password" placeholder="Password"><br>
                <button type="submit" id="button">Submit</button>
            </div>
        </div>
    </form>
    <footer th:insert="common/fragment.html :: footer"> </footer>

    <script>

        let test = document.getElementById("button");


    </script>

</body>
</html>

