<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/register.css"/>

</head>
<body>
    <header th:insert="common/fragment.html :: header"> </header>


        <div id="mainBox">
            <div id="registBox">
                <div id="registHead">회원가입</div>
            <input id="id" class="input" placeholder="ID"><br>
            <input id="password" class="input" placeholder="Password"><br>
            <input id="email" class="input" placeholder="Email"><br>
            <input id="nick" class="input" placeholder="Nickname">
            <button type="button" id="button">Submit</button>
            </div>
        </div>

    <footer th:insert="common/fragment.html :: footer"> </footer>
</body>
</html>