<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/register.css}" rel="stylesheet" />

</head>
<body>
    <header th:insert="common/fragment.html :: header"> </header>


        <div id="mainBox">
            <div id="registBox">
                <div id="registHead">회원가입</div>
                <form th:action="@{/access/register}" method="post">
            <input name="id" class="input" placeholder="ID"><br>
            <input name="pwd" type="password" class="input" placeholder="Password"><br>
            <input name="email" class="input" placeholder="Email"><br>
            <input name="nick" class="input" placeholder="Nickname">
            <button type="submit" id="button" >Submit</button>
                </form>
            </div>
        </div>

    <footer th:insert="common/fragment.html :: footer"> </footer>
</body>
</html>