
#mainBox{
    height: 500px;
    /*background-color: #FFF8E5;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    margin-left:27%;
    height:40px;
    width:500px;
    text-align:center;
}

#wrapper{
    width:96%;
    /*height:80%;*/
    margin:0 auto;


}

input::placeholder {
    color:rgb(174, 174, 174);
    font-style: italic;

  }